:root {
  --brand-color: #7ca2f4;
  --dark: #121214;
  --white-soft: #f3f7ff;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Archivo, sans-serif;
}

.top__fixed {
  width: 100%;
  height: 64px;
  background-color: var(--white-soft);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 400px;
  background-image: url("../images/image-michael-jordan.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  width: 70%;
  height: auto;
  color: var(--white);
}

.hero__content h1,
.hero__content p {
  font-size: 24px;
  margin-bottom: 20px;
}
.hero__content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero__content p {
  line-height: 34px;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.produtos {
  width: 70%;
  height: 100%;
  margin-block: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading__produtos {
  max-width: 593px;
  height: 100%;
  margin-bottom: 72px;
}

.heading__produtos h3 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
.heading__produtos p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.lista__produtos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.card__produto {
  width: 336px;
  height: 326px;
  flex-basis: 336px;
}
.card__produto figure:hover {
  border: 1px solid var(--brand-color);
  cursor: pointer;
}

.card__produto figure,
.produto__detalhes_imagens figure {
  background-color: var(--white-soft);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 200px;
}

.card__produto_detalhes {
  margin-block: 24px;
}

.card__produto_detalhes h4 {
  font-size: 18px;
  line-height: 28px;

  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__produto_detalhes h5 {
  font-size: 16px;
  line-height: 26px;
  color: var(--brand-color);
}
.card__produto h6 {
  font-size: 18px;
}
.card__produto_price {
  font-size: 20px;
  line-height: 30px;
  font-family: "Space Grotesk", sans-serif;
}

.tamanho h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.tamanhos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.numeros {
  height: 40px;
  border: 1px solid #ccc;
  width: 40px;

  border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.numeros:hover{
  cursor:pointer;
  border-color: var(--brand-color);
}

.radio{
  display: none;
}
.selecionado{
  border-color: var(--dark)
}

.descricao {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.descricao p {
  margin-bottom: 10px;
}

.descricao ul {
  margin-left: 20px;
}

details::marker,
summary::marker {
  content: "";
}

summary {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icone-expandir::after,
.icone-recolher::after {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-image: url(../images/ArrowDown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6px;
}

.icone-recolher::after {
  background-image: url(../images/ArrowUp.svg);
}

.details {
  font-size: 16px;
}
.details p {
  margin-bottom: 16px;
}
label {
  margin-bottom: 5px;
}

.input {
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input input {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 20px;
  padding-left: 20px;
}

.input button {
  font-size: 16px;
  font-weight: 500;
  width: 120px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 0px;
  margin-right: 5px;
}

.input button:hover {
  border-color: #222;
}

details a {
  color: var(--dark);
  font-weight: bold;
  margin-top: 20px;
}

.voltar {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.voltar:hover {
  cursor: pointer;
  border: 1px solid var(--brand-color);
}

/* detalhes dos tenis */
.detalhes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detalhes h4 {
  font-size: 24px;
}

.detalhes h5 {
  font-size: 16px;
  color: var(--brand-color);
}

.detalhes h6 {
  font-size: 24px;
  font-family: "Space Grotesk", sans-serif;
}

.produto__detalhes {
  width: 100%;
  height: 100%;
  padding: 20px;

  justify-content: center;
  gap: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.produto__detalhes_imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.detalhes,
.tamanho,
.button,
.descricao {
  margin-bottom: 20xp;
}
.button {
  width: 100%;
}
.button button {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  font-size: 16px;

  background-color: var(--dark);
  color: var(--white);
}

/* responsividade */

@media (max-width: 768px) {
  .top__fixed {
    font-size: 16px;
    height: 41px;
  }
  .hero {
    height: 350px;
  }
  .hero__content h1 {
    font-size: 18px;
  }
  .hero__content h2 {
    font-size: 24px;
  }
  .hero__content h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .heading__produtos {
    padding-inline: 20px;
  }
  .heading__produtos h3 {
    font-size: 24px;
  }
  .heading__produtos p {
    font-size: 16px;
    line-height: 26px;
  }
  .lista__produtos {
    margin-block: 32px;
    gap: 32px;
  }
  .card__produto_detalhes h4 {
    font-size: 18px;
  }
  .card__produto_detalhes h4 {
    font-size: 16px;
  }
  .card__produto h6 {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .top__fixed {
    height: 39px;
  }
  .hero__content h2 {
    font-size: 16px;
    line-height: 26px;
  }
  .heading__produtos h3 {
    font-size: 20px;
  }
  .heading__produtos p {
    font-size: 14px;
    line-height: 24px;
  }
  .lista__produtos {
    margin-block: 24px;
    gap: 24px;
  }
  .card__produto_detalhes h4 {
    font-size: 16px;
  }
}
